{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}

<div class="bg-secondary text-white">
    <div class="m-4 pb-5 bg-secondary text-white" >
        <h5> F.A.Q.</h5>
        <p> <u> Question: Why do I still need to supervise this counting? </u><br>
            <i> Answer: because the AI is not perfect (yet). You can read about it in the article <a href="https://gchron.copernicus.org/preprints/gchron-2020-32/" style="color:#00336e;"> here. </a></i></p>
        
        <p> <u> Question: Where can I find the source code of this program? </u> <br>
            <i> Answer: you can find the code on <a href="https://github.com/SimonNachtergaele" style="color:#00336e;"> my GitHub page </a> </i>. </p>

        <p> <u> Question: How should I acknowledge? </u> <br>
            <i> Answer: you need to refer to the article the article <a href="https://gchron.copernicus.org/preprints/gchron-2020-32/" style="color:#00336e;"> here </a>. </i> </p>
    </div>
</div>

{% endblock %}