{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}

<div class="bg-secondary text-white">
    <div class="m-4 pb-5 bg-secondary text-white" >
        <h5> Terms of use </h5>
        <p> By starting the application I agree that the uploaded data will be stored in a database from the developer. <br>
            From the moment that the user starts the application, the developers will obtain all rights of the data. <br>
            The developer uses this data for academic purposes with the aim of further development of the application and new neural networks. <br>
            If you are interested to obtain the database for academic purposes, please contact Simon Nachtergaele. <br>
            If you are using AI-Track-tive, please do the correct referencing in scientific papers. Thanks!
        </p>
    </div>
</div>

{% endblock %}